<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style2.css">
  </head>
  <body>
    <section class="container">
      <header>Registration Form</header>
      <form action="/Register" class="form" method="post">
        <div class="input-box">
          <label>Educational Qualification</label>
          <input type="text" name="educationalQualification" placeholder="Enter completed degree" />
        </div>

        <div class="input-box">
          <label>Experience</label>
          <input type="number"  name="experience" placeholder="Enter years of work experience" required />
        </div>

        <div class="img-box">
            <label>Profile Picture</label>
            <input type="file" placeholder="Upload passport-size photograph" accept=".jpg, .png" required  name="profilePicture"/>
        </div>
        
        <button type="submit">SUBMIT</button>
      </form>
    </section>
  </body>
</html>